.coffeeFormLabels {
    color: #fff;
}

.addButton {
    background-color: #fff;

}

.addButton:hover {
    color: #39393b;
}

.bgimg {
    background-image: url("../img/coffee-cups-bg.jpg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Abel', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


h2 {
    text-transform: uppercase;
    font-size: 60px;
    font-family: Phosphate;
    font-
}

