.coffeeFormLabels {
    color: #7e3607;
}
.addButton {
    background-color: #d3a572;
}

.bgimg {
    background-image: url("img/coffee-beans-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Abel', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

h2 {
    text-transform: uppercase;
    font-size: 40px;
}